@model IEnumerable<ocenaocena.Models.DzialalnoscOrganizacyjna>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZasiegOrganizacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazwaOrganizacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminPrzynaleznosci)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZasiegOrganizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaOrganizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminPrzynaleznosci)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DzialalnoscOrganizacyjnaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DzialalnoscOrganizacyjnaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DzialalnoscOrganizacyjnaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
