@model ocenaocena.Models.KonferencjaNaukowa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KonferencjaNaukowa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZasiegKonferencji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZasiegKonferencji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TytulReferatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TytulReferatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKonferencji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKonferencji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataKonferencji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataKonferencji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiejsceKonferencji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiejsceKonferencji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaOrganizatoraKonferencji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaOrganizatoraKonferencji)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KonferencjaNaukowaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
