@model ocenaocena.Models.AktywnoscBadawcza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AktywnoscBadawcza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TytulProjektu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TytulProjektu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjektWspolrealizowany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjektWspolrealizowany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZasiegProjektu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZasiegProjektu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaLideraProjektu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaLideraProjektu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunkcjaWProjekcie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunkcjaWProjekcie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstytucjaFinansujacaProjekt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstytucjaFinansujacaProjekt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaKonkursu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaKonkursu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZawarciaUmowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZawarciaUmowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZlozeniaWniosku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZlozeniaWniosku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRozpoczeciaProjektu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRozpoczeciaProjektu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZakonczeniaProjektu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZakonczeniaProjektu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AktywnoscBadawczaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
